# I. Tiến Hành thu thập dữ liệu

---

#### Import thư viện

In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import requests as r
import csv
import pandas as pd
from bs4 import BeautifulSoup
from selenium.webdriver.chrome.service import Service
from datetime import date

#### Dùng requests để lấy data từ trang ```https://www.worldometers.info/coronavirus```

In [2]:
headers = {'User-Agent': 'Mozilla/5.0'}
page = r.get("https://www.worldometers.info/coronavirus", headers)
soup  = BeautifulSoup(page.text, 'html.parser')

#### Hàm lấy tên của cột

In [3]:
def getTitle():
    title = soup.find_all("thead")
    # title
    result_title = []
    result_title.append("Date")
    for t in title:
        result = t.find_all("th")
        for r in result[1:]:
            temp = r.text
            temp = temp.replace("\n", "")
            result_title.append(temp)
        break


    return result_title

#### Hàm lấy dữ liệu từ now, yesterday, 2 days ago

In [4]:
def getData(_type):
    result = []
    # now
    if (_type == 1):
        data = soup.find_all("table", {"id": "main_table_countries_today"})
    # yesterday
    elif (_type == 2):
        data = soup.find_all("table", {"id": "main_table_countries_yesterday"})
    # 2 days ago
    else:
        data = soup.find_all("table", {"id": "main_table_countries_yesterday2"})
    
    for D in data:
        data = D.find_all("tbody")
        for d in data:
            d.find_all("tr")
            for value in d:
                try:
                    temp = value["style"]
                    if (temp != "display: none"):
                        result.append(value)
                except:
                    None
            break    
        break
        
    return result

#### Thực hiện các thao tác lấy dữ liệu

In [5]:
# lay tieu de cua cot
result_title = getTitle()

# lấy thông tin của ngày hôm nay
result_now = getData(1)

# lấy thông tin của ngày hôm qua
result_yesterday = getData(2)

# lấy thông tin của 2 ngày trước
result_twoDaysAgo = getData(3)

#### Khi chạy trên khối này, dữ liệu sẽ được crawl và đưa vào file csv 
   + Lựa chọn 3 loại dữ liệu đưa vào csv ( ```result_twoDaysAgo```, ```result_yesterday```, ```result_now``` )
   + Thêm ngày để bổ sung vào thuộc tính Date

In [ ]:
with open("Data\Covid.csv", "a", encoding="UTF8") as f_object:
    writer_object = csv.writer(f_object)
    # write data
    for r in result_yesterday:
        temp = []
        temp.append("5/12/2021")
        for i in r.find_all("td")[1:]:
            temp.append(i.text)
        
        #write
        writer_object.writerow(temp)
    f_object.close()

In [12]:
data_covid = pd.read_csv("Data\Covid.csv")

In [13]:
data_covid

,Date,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",...,TotalTests,Tests/1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,1/12/2021,USA,"49,428,913",NaN,"803,045",NaN,"39,205,902",NaN,"9,419,966","13,201",...,"753,993,369","2,259,195","333,744,223",North America,7,416,0.0,NaN,NaN,"28,225"
1,1/12/2021,India,"34,596,776",NaN,"469,247",NaN,"34,028,506","+10,207","99,023","8,944",...,"642,412,315","459,141","1,399,161,383",Asia,40,"2,982",2.0,NaN,NaN,71
2,1/12/2021,Brazil,"22,094,459",NaN,"614,754",NaN,"21,321,631",NaN,"158,074","8,318",...,"63,776,166","297,057","214,693,373",South America,10,349,3.0,NaN,NaN,736
3,1/12/2021,UK,"10,228,772",NaN,"144,969",NaN,"9,062,561",NaN,"1,021,242",916,...,"362,531,048","5,300,958","68,389,728",Europe,7,472,0.0,NaN,NaN,"14,933"
4,1/12/2021,Russia,"9,636,881",NaN,"275,193",NaN,"8,329,253",NaN,"1,032,435","2,300",...,"224,900,000","1,540,170","146,022,882",Europe,15,531,1.0,NaN,NaN,"7,070"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1563,5/12/2021,Marshall Islands,4,NaN,,NaN,4,NaN,0,NaN,...,NaN,NaN,"59,761",Australia/Oceania,"14,940",NaN,NaN,NaN,NaN,NaN
1564,5/12/2021,Samoa,3,NaN,,NaN,3,NaN,0,NaN,...,NaN,NaN,"200,298",Australia/Oceania,"66,766",NaN,NaN,NaN,NaN,NaN
1565,5/12/2021,Saint Helena,2,NaN,,NaN,2,NaN,0,NaN,...,NaN,NaN,"6,103",Africa,"3,052",NaN,NaN,NaN,NaN,NaN
1566,5/12/2021,Micronesia,1,NaN,,NaN,1,NaN,0,NaN,...,NaN,NaN,"116,745",Australia/Oceania,"116,745",NaN,NaN,NaN,NaN,NaN
1567,5/12/2021,Tonga,1,NaN,,NaN,1,NaN,0,NaN,...,NaN,NaN,"107,406",Australia/Oceania,"107,406",NaN,NaN,NaN,NaN,NaN