# II. Tiến Hành Quá Trình Tiền Xử Lí Dữ Liệu

---

####  Import thư viện

In [24]:
import numpy as np
import pandas as pd
import math

### 1. Kiểm tra tổng quan về tập dữ liệu

In [2]:
data_covid = pd.read_csv("Data\Covid.csv")
data_covid.shape

(3136, 22)

Dữ liệu được thu thập từ ngày ```29/11/2021``` đến ```5/12/2021```, Tập dữ liệu data covid có 1568 mẫu và 22 thuộc tính,

#### Tóm tắt thông tin về các thuộc tính có trong dữ liệu


|Thuộc tính|Kiểu dữ liệu|     Ý nghĩa   
|:--------:|:-------------:|:-----:
|**Date**|Chuỗi |Ngày của thông tin|
|**Country,Other**|Chuỗi|Đất nước lấy thông tin|
|**TotalCases**|Số nguyên|Số lượng toàn bộ người bị nhiễm|
|**NewCases**|Số nguyên|Số lượng ca nhiễm mới trong ngày|
|**TotalDeaths**|Số nguyên|Tổng số lượng ca tử vong do Covid-19|
|**NewDeaths**|Số nguyên|Số lượng ca tử vong được phát hiện trong ngày|
|**TotalRecovered**|Số nguyên|Tổng số lượng ca hồi phục khi bị nhiễm Covid-19|
|**NewRecovered**|Số nguyên|Số lượng ca phục hồi trong ngày|
|**ActiveCases**|Số nguyên|Số lượng người bị nhiễm và chưa khỏi bệnh|   
|**Serious,Critical**|Số nguyên|Số lượng ca nhiễm Covid-19 đang trong nguy kịch|   
|**Tot Cases/1M pop**|Số nguyên|Tổng số ca được xác nhận nhiễm trên 1 triệu dân số|
|**Deaths/1M pop**|Số nguyên|Tổng số ca tư vong trên 1 triệu dân số|
|**TotalTests**|Số nguyên|Tổng số lượng được xác nghiệm Covid-19|
|**Tests/1M pop**|Số nguyên|Tổng số lượng được xác nghiệm Covid-19 trên 1 triệu dân số|   
|**Population**|Số nguyên|Tổng số dân số của đất nước|   
|**Continent**|Chuỗi|Tên châu lục|
|**1Case every X ppl**|Số nguyên|     
|**1Death every X ppl**|Số nguyên|       
|**1 Testevery X ppl**|Số nguyên||   
|**New Cases/1M pop**|Số nguyên|Tổng số lượng được ca nhiễm Covid-19 mới trên 1 triệu dân số| 
|**New Deaths/1M pop**|Số nguyên|Tổng số lượng được ca tử vong mới trên 1 triệu dân số| 
|**Active Cases/1M pop**|Số nguyên|Tổng số lương ca nhiễm chưa khỏi bệnh trên 1 triệu dân số|

#### Kiểm tra số lượng nước và châu lục

In [3]:
print(f"Số lượng quốc gia và tàu: {data_covid['Country,Other'].nunique()}\n")
print(data_covid['Country,Other'].unique())

Số lượng quốc gia và tàu: 224

[nan 'USA' 'India' 'Brazil' 'UK' 'Russia' 'Turkey' 'France' 'Iran'
 'Germany' 'Argentina' 'Spain' 'Colombia' 'Italy' 'Indonesia' 'Mexico'
 'Poland' 'Ukraine' 'South Africa' 'Philippines' 'Netherlands' 'Malaysia'
 'Peru' 'Czechia' 'Thailand' 'Iraq' 'Canada' 'Romania' 'Belgium' 'Chile'
 'Japan' 'Bangladesh' 'Israel' 'Pakistan' 'Serbia' 'Vietnam' 'Sweden'
 'Austria' 'Portugal' 'Hungary' 'Switzerland' 'Kazakhstan' 'Cuba' 'Jordan'
 'Morocco' 'Greece' 'Georgia' 'Nepal' 'UAE' 'Tunisia' 'Bulgaria'
 'Slovakia' 'Lebanon' 'Belarus' 'Guatemala' 'Croatia' 'Azerbaijan'
 'Ireland' 'Costa Rica' 'Sri Lanka' 'Saudi Arabia' 'Bolivia' 'Ecuador'
 'Myanmar' 'Denmark' 'Panama' 'Lithuania' 'Paraguay' 'S. Korea'
 'Venezuela' 'Palestine' 'Slovenia' 'Kuwait' 'Dominican Republic'
 'Uruguay' 'Mongolia' 'Honduras' 'Libya' 'Ethiopia' 'Moldova' 'Egypt'
 'Armenia' 'Oman' 'Bahrain' 'Bosnia and Herzegovina' 'Norway' 'Singapore'
 'Kenya' 'Latvia' 'Qatar' 'Estonia' 'North Macedonia' 'Nigeria'
 'Australia' 'Algeria' 'Zambia' 'Albania' 'Botswana' 'Uzbekistan'
 'Finland' 'Kyrgyzstan' 'Montenegro' 'Afghanistan' 'Mozambique' 'Zimbabwe'
 'Cyprus' 'Ghana' 'Namibia' 'Uganda' 'Cambodia' 'El Salvador' 'Cameroon'
 'Rwanda' 'Maldives' 'Jamaica' 'Luxembourg' 'Senegal' 'Laos'
 'Trinidad and Tobago' 'Angola' 'Malawi' 'Ivory Coast' 'R?nion' 'DRC'
 'Guadeloupe' 'Fiji' 'Suriname' 'Syria' 'Eswatini' 'French Guiana'
 'French Polynesia' 'Martinique' 'Madagascar' 'Sudan' 'Malta' 'Mauritania'
 'Cabo Verde' 'Guyana' 'Gabon' 'Papua New Guinea' 'Guinea' 'Belize'
 'Tanzania' 'Togo' 'Barbados' 'Haiti' 'Benin' 'Seychelles' 'Somalia'
 'Bahamas' 'Lesotho' 'Mauritius' 'Mayotte' 'Burundi' 'Timor-Leste' 'Congo'
 'Channel Islands' 'Iceland' 'Mali' 'Cura?o' 'Nicaragua' 'Andorra'
 'Tajikistan' 'Taiwan' 'Aruba' 'Burkina Faso' 'Brunei '
 'Equatorial Guinea' 'Djibouti' 'Saint Lucia' 'South Sudan' 'Hong Kong'
 'New Caledonia' 'New Zealand' 'CAR' 'Isle of Man' 'Yemen' 'Gambia'
 'Eritrea' 'Gibraltar' 'Cayman Islands' 'Niger' 'Guinea-Bissau'
 'Sierra Leone' 'Dominica' 'San Marino' 'Grenada' 'Liberia' 'Bermuda'
 'St. Vincent Grenadines' 'Chad' 'Liechtenstein' 'Sint Maarten' 'Comoros'
 'Antigua and Barbuda' 'Saint Martin' 'Monaco' 'Sao Tome and Principe'
 'Faeroe Islands' 'Turks and Caicos' 'Caribbean Netherlands'
 'Saint Kitts and Nevis' 'British Virgin Islands' 'Bhutan' 'St. Barth'
 'Greenland' 'Anguilla' 'Diamond Princess' 'Wallis and Futuna'
 'Falkland Islands' 'Macao' 'Saint Pierre Miquelon' 'Montserrat'
 'Vatican City' 'Solomon Islands' 'Western Sahara' 'MS Zaandam' 'Palau'
 'Vanuatu' 'Marshall Islands' 'Samoa' 'Saint Helena' 'Micronesia' 'Tonga'
 'China']

In [4]:
print(f"Số lượng châu lục: {data_covid['Continent'].nunique()}\n")
print(data_covid['Continent'].unique())

Số lượng châu lục: 6

[nan 'North America' 'Asia' 'South America' 'Europe' 'Africa'
 'Australia/Oceania']

### 2. Tiền xử lí dữ liệu

In [5]:
data_covid[0:130]

,Date,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",...,TotalTests,Tests/1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12/1/2021,USA,"49,428,913",NaN,"803,045",NaN,"39,205,902",NaN,"9,419,966","13,201",...,"753,993,369","2,259,195","333,744,223",North America,7,416,0.0,NaN,NaN,"28,225"
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12/1/2021,India,"34,596,776",NaN,"469,247",NaN,"34,028,506","10,207","99,023","8,944",...,"642,412,315","459,141","1,399,161,383",Asia,40,"2,982",2.0,NaN,NaN,71
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,12/1/2021,Myanmar,"522,402",NaN,"19,104",NaN,"497,249",NaN,"6,049",NaN,...,"5,583,908","101,664","54,924,965",Asia,105,"2,875",10.0,NaN,NaN,110
126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,12/1/2021,Denmark,"487,401",NaN,"2,895",NaN,"403,118",NaN,"81,388",60,...,"93,815,873","16,116,747","5,821,018",Europe,12,"2,011",0.0,NaN,NaN,"13,982"
128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,12/1/2021,Panama,"477,742",NaN,"7,365",NaN,"467,826",NaN,"2,551",20,...,"4,236,620","960,552","4,410,610",North America,9,599,1.0,NaN,NaN,578

#### a. Kiểm tra bị null (missing value)

In [6]:
def checkMissingData():
    for column in data_covid.columns:
        count = 0
        for i in data_covid[column]:
            try:
                if (np.isnan(i)):
                    count = count + 1
            except:
                None
        print("Số lượng thông tin bị thiếu trong thuộc tính ", column, ":",count)
        print("Chiếm tỉ lệ phần trăm:", round(count/data_covid.shape[0] * 100, 3),"%")
        print()

In [7]:
checkMissingData()

Số lượng thông tin bị thiếu trong thuộc tính  Date : 1568
Chiếm tỉ lệ phần trăm: 50.0 %

Số lượng thông tin bị thiếu trong thuộc tính  Country,Other : 1568
Chiếm tỉ lệ phần trăm: 50.0 %

Số lượng thông tin bị thiếu trong thuộc tính  TotalCases : 1568
Chiếm tỉ lệ phần trăm: 50.0 %

Số lượng thông tin bị thiếu trong thuộc tính  NewCases : 2129
Chiếm tỉ lệ phần trăm: 67.889 %

Số lượng thông tin bị thiếu trong thuộc tính  TotalDeaths : 1568
Chiếm tỉ lệ phần trăm: 50.0 %

Số lượng thông tin bị thiếu trong thuộc tính  NewDeaths : 2455
Chiếm tỉ lệ phần trăm: 78.284 %

Số lượng thông tin bị thiếu trong thuộc tính  TotalRecovered : 1618
Chiếm tỉ lệ phần trăm: 51.594 %

Số lượng thông tin bị thiếu trong thuộc tính  NewRecovered : 2240
Chiếm tỉ lệ phần trăm: 71.429 %

Số lượng thông tin bị thiếu trong thuộc tính  ActiveCases : 1618
Chiếm tỉ lệ phần trăm: 51.594 %

Số lượng thông tin bị thiếu trong thuộc tính  Serious,Critical : 2049
Chiếm tỉ lệ phần trăm: 65.338 %

Số lượng thông tin bị thiếu trong thuộc tính  TotCases/1M pop : 1582
Chiếm tỉ lệ phần trăm: 50.446 %

Số lượng thông tin bị thiếu trong thuộc tính  Deaths/1M pop : 1666
Chiếm tỉ lệ phần trăm: 53.125 %

Số lượng thông tin bị thiếu trong thuộc tính  TotalTests : 1673
Chiếm tỉ lệ phần trăm: 53.348 %

Số lượng thông tin bị thiếu trong thuộc tính  Tests/1M pop : 1673
Chiếm tỉ lệ phần trăm: 53.348 %

Số lượng thông tin bị thiếu trong thuộc tính  Population : 1568
Chiếm tỉ lệ phần trăm: 50.0 %

Số lượng thông tin bị thiếu trong thuộc tính  Continent : 1582
Chiếm tỉ lệ phần trăm: 50.446 %

Số lượng thông tin bị thiếu trong thuộc tính  1 Caseevery X ppl : 1582
Chiếm tỉ lệ phần trăm: 50.446 %

Số lượng thông tin bị thiếu trong thuộc tính  1 Deathevery X ppl : 1666
Chiếm tỉ lệ phần trăm: 53.125 %

Số lượng thông tin bị thiếu trong thuộc tính  1 Testevery X ppl : 1673
Chiếm tỉ lệ phần trăm: 53.348 %

Số lượng thông tin bị thiếu trong thuộc tính  New Cases/1M pop : 2129
Chiếm tỉ lệ phần trăm: 67.889 %

Số lượng thông tin bị thiếu trong thuộc tính  New Deaths/1M pop : 2457
Chiếm tỉ lệ phần trăm: 78.348 %

Số lượng thông tin bị thiếu trong thuộc tính  Active Cases/1M pop : 1658
Chiếm tỉ lệ phần trăm: 52.87 %

#### Đánh giá về dữ liệu
- Sau khi liệt kê các thuộc tính để kiểm tra phần trăm số lượng bị thiếu thông tin, ta thấy đa số các cột thuộc tính bị thiếu dữ liệu chỉ có 5 thuộc tính là đầy đủ dữ liệu , số lượng thuộc tính thiếu trên 30% tương đối lớn

###### Giải quyết vấn đề bị thiếu dữ liệu: 
- Ta thấy các thuộc tính như ```New Cases/1M pop```, ```New Deaths/1M pop```, ```NewRecovered```, ```NewDeaths```, ```Serious,Critical```, ```NewCases``` có tỉ lệ phần trăm thiếu dữ liệu lớn hơn 30% , đồng thời ta thấy được thuộc tính đó không đóng góp nhiều vào quá trình phân tích và thống kê nên ta sẽ chọn phương án là loại bỏ các thuộc tính đó

In [8]:
data_covid = data_covid.drop(columns=["New Cases/1M pop", "NewRecovered", "NewDeaths", "New Deaths/1M pop", "Serious,Critical", "NewCases"])

- Ta thấy các thuộc tính như ```TotalTests```, ```Tests/1M pop``` , ```1 Testevery X ppl``` có tỉ lệ phần trăm như nhau = 6.696% , ta có thể đưa ra giả thiết: ```các sample thiếu dữ dữ liệu là một```, ta sẽ tiến hành kiếm tra

In [9]:
country_TotalTests = []
country_Tests1Mpop = []
country_1TesteveryXppl = []

for i in range(0, len(data_covid["TotalTests"])):
    try:
        if (np.isnan(data_covid["TotalTests"][i])):
            country_TotalTests.append(data_covid.loc[i, "Country,Other"])
    except:
        None
    
    try:
        if (np.isnan(data_covid["Tests/1M pop"][i])):
            country_Tests1Mpop.append(data_covid.loc[i, "Country,Other"])
    except:
        None
    
    try:
        if (np.isnan(data_covid["1 Testevery X ppl"][i])):
            country_1TesteveryXppl.append(data_covid.loc[i, "Country,Other"])
    except:
        None
country_TotalTests = set(country_TotalTests)
country_Tests1Mpop = set(country_Tests1Mpop)
country_1TesteveryXppl = set(country_1TesteveryXppl)

print("TotalTests: ", country_TotalTests)
print()
print("Tests1Mpop: ", country_Tests1Mpop)
print()
print("1TesteveryXppl: ", country_1TesteveryXppl)

TotalTests:  {nan, 'Vatican City', 'Seychelles', 'Tanzania', 'Western Sahara', 'Diamond Princess', 'Micronesia', 'Tonga', 'Nicaragua', 'Comoros', 'Samoa', 'Saint Helena', 'Marshall Islands', 'MS Zaandam', 'French Polynesia', 'Tajikistan'}

Tests1Mpop:  {nan, 'Vatican City', 'Seychelles', 'Tanzania', 'Western Sahara', 'Diamond Princess', 'Micronesia', 'Tonga', 'Nicaragua', 'Comoros', 'Samoa', 'Saint Helena', 'Marshall Islands', 'MS Zaandam', 'French Polynesia', 'Tajikistan'}

1TesteveryXppl:  {nan, 'Vatican City', 'Seychelles', 'Tanzania', 'Western Sahara', 'Diamond Princess', 'Micronesia', 'Tonga', 'Nicaragua', 'Comoros', 'Samoa', 'Saint Helena', 'Marshall Islands', 'MS Zaandam', 'French Polynesia', 'Tajikistan'}

**Đánh giá:** 
- Vì các nước đều như nhau giống với giả thiết ban đầu, đồng thời mục đích ban đầu ta sẽ phân tích các nước đông có tỉ lệ bị nhiễm covid cao, qua quan sát ta thấy các nước liệt kê trên là nước nhỏ với tỉ lệ dân số thấp đồng thời chứa các sample như ```Diamond Princess```, ```MS Zaandam```... là các tàu chở bệnh nhân bị covid , nó không phải là 1 quốc gia. Ta xem chúng thuộc dạng outlier. Nên ta sẽ quyết định loại bỏ các sample được liệt kê ở trên

In [10]:
dr = []
for i in range(0, len(data_covid["TotalTests"])):
    if (data_covid["Country,Other"][i] in country_1TesteveryXppl):
        dr.append(i)

data_covid = data_covid.drop(dr, axis=0)
print("Số sample và thuộc tính còn lại:", data_covid.shape)

Số sample và thuộc tính còn lại: (1463, 16)

- **Kiểm tra thông tin bị thiếu**

In [11]:
checkMissingData()

Số lượng thông tin bị thiếu trong thuộc tính  Date : 0
Chiếm tỉ lệ phần trăm: 0.0 %

Số lượng thông tin bị thiếu trong thuộc tính  Country,Other : 0
Chiếm tỉ lệ phần trăm: 0.0 %

Số lượng thông tin bị thiếu trong thuộc tính  TotalCases : 0
Chiếm tỉ lệ phần trăm: 0.0 %

Số lượng thông tin bị thiếu trong thuộc tính  TotalDeaths : 0
Chiếm tỉ lệ phần trăm: 0.0 %

Số lượng thông tin bị thiếu trong thuộc tính  TotalRecovered : 36
Chiếm tỉ lệ phần trăm: 2.461 %

Số lượng thông tin bị thiếu trong thuộc tính  ActiveCases : 36
Chiếm tỉ lệ phần trăm: 2.461 %

Số lượng thông tin bị thiếu trong thuộc tính  TotCases/1M pop : 0
Chiếm tỉ lệ phần trăm: 0.0 %

Số lượng thông tin bị thiếu trong thuộc tính  Deaths/1M pop : 42
Chiếm tỉ lệ phần trăm: 2.871 %

Số lượng thông tin bị thiếu trong thuộc tính  TotalTests : 0
Chiếm tỉ lệ phần trăm: 0.0 %

Số lượng thông tin bị thiếu trong thuộc tính  Tests/1M pop : 0
Chiếm tỉ lệ phần trăm: 0.0 %

Số lượng thông tin bị thiếu trong thuộc tính  Population : 0
Chiếm tỉ lệ phần trăm: 0.0 %

Số lượng thông tin bị thiếu trong thuộc tính  Continent : 0
Chiếm tỉ lệ phần trăm: 0.0 %

Số lượng thông tin bị thiếu trong thuộc tính  1 Caseevery X ppl : 0
Chiếm tỉ lệ phần trăm: 0.0 %

Số lượng thông tin bị thiếu trong thuộc tính  1 Deathevery X ppl : 42
Chiếm tỉ lệ phần trăm: 2.871 %

Số lượng thông tin bị thiếu trong thuộc tính  1 Testevery X ppl : 0
Chiếm tỉ lệ phần trăm: 0.0 %

Số lượng thông tin bị thiếu trong thuộc tính  Active Cases/1M pop : 34
Chiếm tỉ lệ phần trăm: 2.324 %

**Đánh giá**
- Đa số các cột thuộc tính có phần trăm thiếu dữ liệu là 0%, còn 4 thuộc tính có phần trăm thiếu dữ liệu dưới 3%, ta sẽ chọn phương án là phớt lờ các thông tin bị thiếu đó

**Loại bỏ các thuộc tính không cần thiết cho quá trình thống kê và mô hình hóa dữ liệu**
  + Ta sẽ lựa chọn loại bỏ 3 thuộc tính ```1 Caseevery X ppl```, ```1 Deathevery X ppl``` và ```1 Testevery X ppl``` vì ta không hiểu rõ ý nghĩa của 3 thuộc tính đó là gì, đồng thời trên trang ```https://www.worldometers.info``` thì đồng thời ẩn 3 thuộc tính đó, ta có thể suy luận rằng 3 thuộc tính đó có thể không quan trọng trong việc đánh giá và phân tích dữ liệu

In [13]:
data_covid = data_covid.drop(["1 Caseevery X ppl", "1 Deathevery X ppl", "1 Testevery X ppl"], axis=1)

#### b. Kiểm tra kiểu dữ liệu trong mỗi thuộc tính

In [14]:
data_covid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1463 entries, 1 to 3125
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 1463 non-null   object
 1   Country,Other        1463 non-null   object
 2   TotalCases           1463 non-null   object
 3   TotalDeaths          1463 non-null   object
 4   TotalRecovered       1427 non-null   object
 5   ActiveCases          1427 non-null   object
 6   TotCases/1M pop      1463 non-null   object
 7   Deaths/1M pop        1421 non-null   object
 8   TotalTests           1463 non-null   object
 9   Tests/1M pop         1463 non-null   object
 10  Population           1463 non-null   object
 11  Continent            1463 non-null   object
 12  Active Cases/1M pop  1429 non-null   object
dtypes: object(13)
memory usage: 160.0+ KB

- **Đánh giá**: ta thấy đươc đa số các cột thuộc tính đều thuộc dạng object , ta cần chuyển đổi cột thuộc tính sang đúng dạng của chúng
  + Loại ```string```: Country,Other, Continent
  + Loại ```datetime```: Date
  + Loại ```float```: Tot Cases/1M pop, Deaths/1M pop, Tests/1M pop, 1 Caseevery X ppl, 1 Deathevery X ppl, 1 Testevery X ppl
  + Loại ```int```: Active Cases/1M pop, TotalCases, TotalDeaths, TotalRecoverd, ActiveCases, Population, TotalTests

- Chuyển đổi loại datetime

In [15]:
data_covid["Date"] = pd.to_datetime(data_covid["Date"])

- Chuyển đổi sang string

In [16]:
data_covid["Country,Other"] = data_covid["Country,Other"].astype('string')
data_covid["Continent"] = data_covid["Continent"].astype('string')

- Chuyển đổi object sang float

In [18]:
col = ["Active Cases/1M pop", "Tests/1M pop", "Deaths/1M pop", "TotCases/1M pop"]
for c in col:
    data_covid[c] = data_covid[c].astype(str)
    data_covid[c] = data_covid[c].str.replace(',', '')
    data_covid[c] = data_covid[c].astype(float)

- Chuyển đổi sang int

In [19]:
col1 = ["TotalTests", "Population", "TotalCases", "TotalDeaths", "ActiveCases", "TotalRecovered"]

for c in col1:
    data_covid[c] = data_covid[c].astype(str)
    data_covid[c] = data_covid[c].str.replace(',', '')
    data_covid[c] = pd.to_numeric(data_covid[c], errors='coerce').astype('Int64')

In [20]:
data_covid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1463 entries, 1 to 3125
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 1463 non-null   datetime64[ns]
 1   Country,Other        1463 non-null   string
 2   TotalCases           1463 non-null   Int64
 3   TotalDeaths          1421 non-null   Int64
 4   TotalRecovered       1427 non-null   Int64
 5   ActiveCases          1427 non-null   Int64
 6   TotCases/1M pop      1463 non-null   float64
 7   Deaths/1M pop        1421 non-null   float64
 8   TotalTests           1463 non-null   Int64
 9   Tests/1M pop         1463 non-null   float64
 10  Population           1463 non-null   Int64
 11  Continent            1463 non-null   string
 12  Active Cases/1M pop  1429 non-null   float64
dtypes: Int64(6), datetime64[ns](1), float64(4), string(2)
memory usage: 168.6 KB

#### C. Sắp xếp lại dữ liệu

In [21]:
data_covid = data_covid.sort_values(['Country,Other'])
data_covid = data_covid.reset_index(drop=True)

i = 0
while (i < len(data_covid)):
    data_covid[i:(i + 7)] = data_covid[i:(i + 7)].sort_values(['Date'])
    i = i + 7
    
data_covid[0:7]

,Date,"Country,Other",TotalCases,TotalDeaths,TotalRecovered,ActiveCases,TotCases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,Population,Continent,Active Cases/1M pop
0,2021-11-29,Afghanistan,157261,7308,140530,9423,3915.0,182.0,791514,19707.0,40164434,Asia,235.0
1,2021-11-30,Afghanistan,157289,7308,140549,9432,3916.0,182.0,792156,19723.0,40164434,Asia,235.0
2,2021-12-01,Afghanistan,157289,7308,140549,9432,3916.0,182.0,792156,19723.0,40164434,Asia,235.0
3,2021-12-02,Afghanistan,157371,7309,140581,9481,3918.0,182.0,793293,19749.0,40169237,Asia,236.0
4,2021-12-03,Afghanistan,157423,7311,140609,9503,3919.0,182.0,794668,19782.0,40171638,Asia,237.0
5,2021-12-04,Afghanistan,157455,7312,140723,9420,3919.0,182.0,796349,19820.0,40178842,Asia,234.0
6,2021-12-05,Afghanistan,157499,7316,140809,9374,3920.0,182.0,797783,19856.0,40178842,Asia,233.0

- Dữ liệu đã được sắp xếp lại theo thứ tự ngày từ 29/11/2021 đến ngày 05/12/2021

### Đánh giá tổng quan sau khi quá trình tiền xử lí dữ liệu

In [22]:
print("Số lượng sample:", data_covid.shape[0])
print("Số lượng thuộc tính:", data_covid.shape[1])
print("Số lượng các quốc gia trong dữ liêu:", int(data_covid.shape[0] / 7))
print(f"Số lượng châu lục: {data_covid['Continent'].nunique()}\n")

Số lượng sample: 1463
Số lượng thuộc tính: 13
Số lượng các quốc gia trong dữ liêu: 209
Số lượng châu lục: 6

- **Tiến hành lưu dữ liệu vào Covid_new.csv trong thư mục New_Data**

In [23]:
data_covid.to_csv('New_Data/Covid_new.csv', index=False)